.CertificateForm {
    width: 90%;
    height: fit-content;
    margin-bottom: 2vh;
    background-color: rgba(40, 40, 40, 0);
    border-radius: 5px;
    border: 1px solid rgba(0, 255, 255, 0.7);
    margin: 1vh 0vh;
}

.CertificateForm p {
    font-weight: bold;
    font-family: 'Times New Roman', cursive, sans-serif;
}

.CertificateForm input {
    padding: 0.5rem;
    border: none;
    border: 1px solid var(--theme);
    border-radius: 5px;
    width: 90%;
    background-color: transparent;
    color: var(--theme);
    font-weight: normal;
    font-family: 'Times New Roman', cursive, sans-serif;
}

.CertificateForm textarea {
    padding: 0.5rem;
    border: none;
    border: 1px solid var(--theme);
    border-radius: 10px;
    width: 90%;
    background-color: transparent;
    color: var(--theme);
    font-weight: normal;
    font-family: 'Times New Roman', cursive, sans-serif;
}

.CertificateFormButtons {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.CertificateFormButton {
    margin: 0px 0px;
    color: var(--theme);
    background-color: transparent;
    font-family: 'Times New Roman', cursive, sans-serif;
    border: none;
    border: 1px solid var(--theme);
    border-radius: 10px;
    width: 30%;
    padding: 8px 5px;
    margin: 1vh;
    transition: 0.2s;
    overflow: hidden;
}

.CertificateFormButton:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.CertificateContentForm {
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.AddCertificateButton {
    align-self: center;
    border: 2px solid var(--theme);
    border-radius: 10px;
    color: var(--theme);
    background-color: transparent;
    width: 20%;
    margin: 2vh 0px;
    height: fit-content;
    font-family: 'Times New Roman', cursive, sans-serif;
    transition: 0.2s;
}

.AddCertificateButton:hover {
    transform: scale(1.2);
    cursor: pointer;
}